<section class='homepage-slider'>
	<div class='overlay'></div>
	<img class='first' src='../images/artists/birdy.jpg'>
	<img class='second' src='../images/artists/hozier.jpg'>
	<div class='artist-data'>
		<h2 class='artist-name'>Birdy</h2>
		<p class='artist-song'>Skinny love</p>
	</div>
	<a href='/song/1' class='listen-to '>Listen to
		<span class='theme-background-color glyphicon glyphicon-music'></span>
	</a>
</section>

<section class='main-content-wrapper homepage-wrapper'>
	<div class='grey-separator'></div>
	<section class='second-content-wrapper'>
		<section class='cards-wrapper'>
			<div class='card col-md-3 col-sm-6'>
				<div class='card-info'>
					<span class='theme-color glyphicon glyphicon-music'></span>
					<h2>Listen to your favourite music</h2>
				</div>
			</div>
			<div class='card col-md-3 col-sm-6'>
				<div class='card-info'>
					<span class='theme-color glyphicon glyphicon-list-alt'></span>
					<h2>Add tags, images, videos and more to your songs</h2>
				</div>
			</div>
			<div class='card col-md-3 col-sm-6'>
				<div class='card-info'>
					<span class='theme-color glyphicon glyphicon-share'></span>
					<h2>Share with your friends</h2>
				</div>
			</div>
			<div class='card col-md-3 col-sm-6'>
				<div class='card-info'>
					<span class='theme-color glyphicon glyphicon-cloud-download'></span>
					<h2>Download your tags and others in JSON format</h2>
				</div>
			</div>
		</section>

		<div class='title-separator-wrapper'>
			<h2 class='title-separator'>Explore your music</h2>
		</div>

		<section class='songs-wrapper'>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>AC / DC</h2>
					<img class='album' src='../images/albums/acdc.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Adele</h2>
					<img class='album' src='../images/albums/adele.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>The Notorious B.I.G.</h2>
					<img class='album' src='../images/albums/biggiesmalls.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Birdy</h2>
					<img class='album' src='../images/albums/birdy.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Guns'n'Roses</h2>
					<img class='album' src='../images/albums/gunsnroses.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Hozier</h2>
					<img class='album' src='../images/albums/hozier.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Maroon 5</h2>
					<img class='album' src='../images/albums/maroon5.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Mazde</h2>
					<img class='album' src='../images/albums/mazde.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Pink Floyd</h2>
					<img class='album' src='../images/albums/pinkfloyd.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Queen</h2>
					<img class='album' src='../images/albums/queen.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Sum 41</h2>
					<img class='album' src='../images/albums/sum41.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
			<div class='song col-md-4 col-sm-6'>
				<div class='position-helper'>
					<h2 class='theme-font-color'>Three Days Grace</h2>
					<img class='album' src='../images/albums/threedaysgrace.jpg'>
					<img class='vinyl' src='../images/vinyl.png'>
				</div>
			</div>
		</section>
	</section>
</section>