@orange: #FF7F66;
@blue: #04BF9D;
@red: #E74C3C;
@green: #9DC02E;

@orangeBack: #2b3a42;
@blueBack: #30395c;
@redBack: #2b3a42;
@greenBack: #464646;

@orangeBorder: #1f2b31;
@blueBorder: #222840;
@redBorder: #333333;
@greenBorder: #333333;

@orangeFont: #4a6472;
@blueFont: #525f91;
@redFont: #516d7c;
@greenFont: #6a6a6a;


html#orange-theme {
	.theme-background-color {
		background-color: @orange;
	}

	.theme-color {
		color: @orange;
	}

	.theme-font-color {
		color: @orangeFont;
	}

	.nicescroll-rails div {
		background-color: @orange!important;
		border-color: @orangeBack!important;
	}

	header {
		background: url("../../../images/orange-header.gif") 0 0 repeat-x;

		.header-menu, .title-separator {
			background: @orangeBack;
			border-color: @orangeBorder;
		}

		.login-wrapper:hover span {
			color: @orangeBack!important;
		}

		.header-menu-wrapper .search-wrapper {
			.take-remaining-space input { 
				background-color: #263239;
			}
			.add-color {
				background-color: #263239;
			}
			.pull-right {
				background-color: #263239;
			}
		}
	}

	.title-separator {
		background: @orangeBack;
		border-color: @orangeBorder;
	}
}

html#blue-theme {
	.theme-background-color {
		background-color: @blue;
	}

	.theme-color {
		color: @blue;
	}

	.theme-font-color {
		color: @blueFont;
	}

	.nicescroll-rails div {
		background-color: @blue!important;
		border-color: @blueBack!important;
	}

	header {
		background: url("../../../images/blue-header.gif") 0 0 repeat-x;

		.header-menu {
			background: @blueBack;
    		border-color: @blueBorder;
		}

		.login-wrapper:hover span {
			color: @blueBack!important;
		}

		.header-menu-wrapper .search-wrapper {
			.take-remaining-space input { 
				background-color: #242b46;
			}

			.add-color {
				background-color: #242b46;
			}

			.pull-right {
				background-color: #242b46;
			}
		}
	}

	.title-separator {
		background: @blueBack;
    	border-color: @blueBorder;
	}
}

html#red-theme {
	.theme-background-color {
		background-color: @red;
	}

	.theme-color {
		color: @red;
	}

	.theme-font-color {
		color: @redFont;
	}

	.nicescroll-rails div {
		background-color: @red!important;
		border-color: @redBack!important;
	}

	header {
		background: url("../../../images/red-header.gif") 0 0 repeat-x;

		.header-menu {
			background: @redBack;
    		border-color: @redBorder;
		}

		.login-wrapper:hover span {
			color: @redBack!important;
		}

		.header-menu-wrapper .search-wrapper {
			.take-remaining-space input { 
				background-color: #243138;
			}

			.add-color {
				background-color: #243138;
			}

			.pull-right {
				background-color: #243138;
			}
		}
	}

	.title-separator {
		background: @redBack;
		border-color: @redBorder;
	}
}

html#green-theme {
	.theme-background-color {
		background-color: @green;
	}

	.theme-color {
		color: @green;
	}

	.theme-font-color {
		color: @greenFont;
	}

	.nicescroll-rails div {
		background-color: @green!important;
		border-color: @greenBack!important;
	}

	header {
		background: url("../../../images/green-header.gif") 0 0 repeat-x;

		.header-menu {
			background: @greenBack;
    		border-color: @greenBorder;
		}

		.login-wrapper:hover span {
			color: @greenBack!important;
		}

		.header-menu-wrapper .search-wrapper {
			.take-remaining-space input { 
				background-color: #282828;
			}

			.add-color {
				background-color: #282828;
			}

			.pull-right {
				background-color: #282828;
			}
		}
	}

	.title-separator {
		background: @greenBack;
		border-color: @greenBorder;
	}
}