
	.button-styles {
		height: 35px;
		width: 95%;
		// border-radius: 5px;

	}

	.input-styles {
		height: 35px;
		width: 95%;
		// border-radius: 5px;
		margin-bottom: 20px;
		margin-right: 25px;
		@media only screen and (max-width: 991px) {
			margin-right: 0px;
		}

	}
.left-side {
	top: 50px;

	.logo {
		// height: 400px;
		// width: auto;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}

.right-side {

	@media only screen and (max-width: 991px) {
   		margin-left: 15px;
   		margin-right: 0px;

	}
	::-webkit-input-placeholder {
	    color:    black;
	}
	:-moz-placeholder {
	    color:    black;
	}
	::-moz-placeholder {
	    color:    black;
	}
	:-ms-input-placeholder {
	    color:    black;
	}

	top: 50px;
	.login {


	
	}

	.register {
	}

}